html {
    scroll-behavior: smooth;
  }
.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}
header {
    transition: transform 0.3s ease;
}

.section-label {
    background-color: #FFB000;
    position: relative;
    width: 200px;
    height: 40px;
    padding: 5px;
}
.section-data{
    position: absolute;
    background-color: #FFD966;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.education-list {
    position: relative;
    padding-left: 20px; 
}

.education-list::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 2px; 
    height: 100%;
    background-color: #4635B1; 
    z-index: 0;
}

.circle {
    position: absolute;
    top: 2px; 
    left: -8px; 
    width: 20px;
    height: 20px;
    border: 2px solid #4635B1; 
    border-radius: 50%; 
    z-index: 1; 
}
#particles{
    opacity: 0.6;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
}

.sidebar.open {
    opacity: 1;
    visibility: visible;
}

.sidebar-menu {
    position: absolute;
    top: 0;
    right: -100%; /* Initially off-screen */
    width: 35vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    transition: right 0.5s ease-in-out;
}

.sidebar-menu.open {
    right: 0;
    animation: slideIn 0.5s ease-in-out forwards;
}

.sidebar-menu.close {
    animation: slideOut 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes slideOut {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

@keyframes slideInSidebar {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

#close-sidebar.active{
    background-color: #4635B1;
    color: #ffffff;
}

@media (min-width: 480px) and (max-width: 639px) {
    .navbar-hidden {
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }
    header{
        width: 100%;
    }
    nav{
        width: 100%;
        justify-content: space-between;
        padding: 15px;
    }
    header {
        transition: transform 0.3s ease;
    }
    .navbar{
        display: none;
    }
    .burger{
        display: block;
    }
    .banner{
        overflow: hidden;
    }
    .banner-info{
        left: 15px;
        top: 30rem;
    }
    #profile, #project{
        overflow: hidden;
    }
    .profile-container, .services, #project-container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .profile-container img{
        display: none;
    }
    .skills{
        grid-template-columns: 1fr 1fr;
    }
    .skill-header{
        text-align: center;
    }
    .piccko{
        object-fit: cover;
    }
}